<?xml version="1.0" encoding="UTF-8"?>
<!--
	Equivalente IIS de .htaccess: bloquea los archivos de desarrollo que
	viajan dentro del plugin (composer.lock, phpunit.xml, docs/, .git, ...).
	Los assets de assets/css y assets/js no se ven afectados.
-->
<configuration>
	<system.webServer>
		<security>
			<requestFiltering>
				<fileExtensions>
					<add fileExtension=".md" allowed="false" />
					<add fileExtension=".txt" allowed="false" />
					<add fileExtension=".xml" allowed="false" />
					<add fileExtension=".lock" allowed="false" />
					<add fileExtension=".cache" allowed="false" />
					<add fileExtension=".ini" allowed="false" />
					<add fileExtension=".log" allowed="false" />
					<add fileExtension=".sql" allowed="false" />
					<add fileExtension=".bak" allowed="false" />
					<add fileExtension=".dist" allowed="false" />
					<add fileExtension=".map" allowed="false" />
				</fileExtensions>
				<hiddenSegments>
					<add segment="." />
					<add segment="docs" />
					<add segment="tests" />
					<add segment="vendor" />
					<add segment="node_modules" />
				</hiddenSegments>
			</requestFiltering>
			<authorization>
				<deny file="CONVERTIDOR_P12_VALIDO.php" users="*" />
				<deny file="composer.json" users="*" />
			</authorization>
		</security>
	</system.webServer>
</configuration>
